<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <title>Vizabi Documentation</title>
    {{!-- Styles --}}
    <link rel="stylesheet" href="{{assets}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{assets}}css/main.css">
    <link rel="stylesheet" href="{{assets}}css/vizabi.css">
    <script type="text/javascript" src="{{assets}}js/d3.min.js"></script>
    <script type="text/javascript" src="{{assets}}js/vizabi.min.js"></script>
  </head>
  <body>
    {{> body }}
  </body>
</html>